*{
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
@font-face {
  font-family: myFirstFont;
  src: url('font/sansation_light.woff');
}
header{
  display: flex;
  justify-content: space-between;
  padding:10px 100px;
}
ul{
  list-style: none;
}
ul li{
  display: inline-block;
  margin: 20px 20px;
  font-size: 25pt;
}
ul li a{
  text-decoration: none;
}

#headerRight i{
  font-size: 25pt;
  margin: 20px;
}
section.top, section.bottom{  
  display: flex;
  flex-direction: column;       
  width: 200%;  
   /* background-color: red;  */
}
.top div, .bottom div{
  display: flex;
  flex-direction: row;
  width: 50%; 
  height: 830px;    
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  justify-content: center;
}
.top #left{    
  background-image: url("/images/sp1.jpg") ;  
}
.top #right{    
  background-image: url("/images/sp2.jpg") ;  
}
.top #left1{    
  background-image: url("/images/sp1.jpg") ;  
}
.top #right1{    
  background-image: url("/images/sp2.jpg") ;  
}
.bottom #left{    
  background-image: url("/images/sp1.jpg") ;  
}
.bottom #right{    
  background-image: url("/images/sp2.jpg") ;  
}
.bottom #left1{    
  background-image: url("/images/sp1.jpg") ;  
}
.bottom #right1{    
  background-image: url("/images/sp2.jpg") ;  
}
#kesfet{
  font-size: 15pt;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  border-radius: 8px; 
  height: 35px;
  width: 100px;
  position: relative;
  bottom: 500px;
  left: 815px;
  padding: 10px; 
  text-align: center;
}
.products h1{
  text-align: center;
}
.items{
  display: flex;
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 100px;
}
.item{
  text-align: center;
}


.dropdown.activities > link + .dropdown-menu{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.information-grid{
  display: grid;
  grid-template-columns: repeat(2,max-content);
  gap: 2rem;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: grey;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}